/* --- Google Fonts CDN --- */
/* Radio Canada Big */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
/* Sacramento */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.radio-canada-big-p {
  font-family: 'Radio Canada Big', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.radio-canada-big-h1 {
  font-family: 'Radio Canada Big', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.radio-canada-big-h2 {
  font-family: 'Radio Canada Big', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.sacramento-regular {
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  font-style: normal;
}

/* --- Local Fonts --- */
