/* --- Google Fonts CDN --- */
/* Radio Canada Big */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
/* Sacramento */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/* Sora */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.radio-canada-big-p {
  font-family: 'Radio Canada Big', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.radio-canada-big-h1 {
  font-family: 'Radio Canada Big', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.radio-canada-big-h2 {
  font-family: 'Radio Canada Big', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.sacramento-regular {
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  font-style: normal;
}

.sora-h1 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sora-h2 {
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sora-p {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-regular {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-italic {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.jetbrains-mono-bold {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.jetbrains-mono-h1 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.jetbrains-mono-h2 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-style: normal;
}

/* --- Local Fonts --- */
